html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  margin-bottom: 0px;
  background-color: #ff6600;
  padding: 1rem;
}

.left-header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
.heading-and-image {
  display: flex;
  align-items: center;
  gap: 5px;
}
.heading-and-image > img {
  background-color: #fff;
  padding: 1px;
}

.header a {
  color: black;
  text-decoration: none;
}

main {
  background-color: #f6f6ef;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
}

main > ol > li {
  list-style-position: inside;
  margin-left: -2rem;
}
.post {
  margin-bottom: 0.5rem;
  color: grey;
}
.post a {
  text-decoration: none;
}
.post a:link {
  color: black;
}
.post a:visited {
  color: grey;
}
.post-subtext,
.post-subtext-page {
  font-size: small;
}

.post-subtext {
  margin-left: 1.5rem;
}

.comment-form {
  margin-top: 1rem;
}

.comment-heading {
  font-size: small;
}

.commenter-username {
  text-decoration: none;
}

.commenter-username:visited {
  color: black;
}
.commenter-username:link {
  color: grey;
}
input[type="checkbox"].collabsible-input {
  display: none;
}
.wrap-collabsible {
  margin: 1.2rem 0;
}
.lbl-toggle {
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.lbl-toggle::before {
  content: "[+]";
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  vertical-align: middle;
  transform: translateY(-2px);
  transition: transform 0.2s ease-out;
}

.toggle:not(:checked) + .lbl-toggle::before {
  content: "[-]";
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}
.toggle:not(:checked) + .lbl-toggle + .collapsible-content {
  max-height: 350px;
}

.collapsible-content p {
  margin-bottom: 0;
}
